body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://picsum.photos/1080/720?random=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    padding:auto;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form{
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px;
    width: 500px;
}

label{
    display: block;
    margin-bottom: 1px;
    padding: 4px 0px;
    color:white;
}

h1{
    color: white;
    margin:1em auto;
    text-align: center;
}

p{
    color: white;
    margin:1em auto;
    text-align: left;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgba(0,255,0,0.3);
    text-align: center;
    color: white;
    float: center;
    min-width: 300px;
}

input[type="submit"]:hover{
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgba(0,255,255,0.3);
    text-align: center;
    color: white;
    float: center;
    min-width: 300px;
}

span.psw{
    color:white;
    float: right;
}


